[workspace]
authors = ["Erik Holum <eholum@gmail.com>"]
channels = ["conda-forge", "https://prefix.dev/robostack-jazzy"]
name = "roboplan-ros"
platforms = ["linux-64", "linux-aarch64"]
version = "0.1.0"

[tasks]
setup-colcon = { cmd = """
colcon mixin add default https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml && \
colcon mixin update default
""" }
build = "colcon build"
test = { cmd = "colcon test", depends-on = ["build"] }

[dependencies]
# Build deps
colcon-common-extensions = ">=0.3.0,<0.4"
colcon-mixin = ">=0.2.3,<0.3"
cmake = ">=4.1.1,<5"
ninja = ">=1.13.1,<2"
mold = ">=2.40.2,<3"
sccache = ">=0.10.0,<0.11"

# ROS deps
ros-jazzy-ros-core = ">=0.11.0,<0.12"
