[workspace]
authors = ["Erik Holum <eholum@gmail.com>"]
channels = ["conda-forge", "https://prefix.dev/robostack-jazzy"]
name = "roboplan-ros"
platforms = ["linux-64", "linux-aarch64"]
version = "0.1.0"

[tasks]
setup-colcon = { cmd = """
colcon mixin add default https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml || true && \
colcon mixin update default
""" }
build = "colcon build"
# TOPP-RA has failures in colcon, so ignoring for now.
test = "bash -c 'source install/setup.bash && colcon test --packages-ignore toppra && colcon test-result --verbose'"

[dependencies]
# Build deps
colcon-common-extensions = ">=0.3.0,<0.4"
colcon-mixin = ">=0.2.3,<0.3"
cmake = ">=3.30.5,<4"
clangxx = ">=19.1.7,<20"
lld = ">=19.1.2,<20"
ninja = ">=1.13.1,<2"
mold = ">=2.40.2,<3"
sccache = ">=0.10.0,<0.11"

# roboplan base deps
eigen = ">=3.4.0,<4"
pinocchio = ">=3.7.0,<4"
gtest = ">=1.17.0,<2"
viser = ">=1.0.11,<2"
tyro = ">=0.9.32,<0.10"

# ROS deps
ros-jazzy-ros-core = ">=0.11.0,<0.12"
ros-jazzy-trajectory-msgs = ">=5.3.6,<6"
matplotlib = ">=3.10.6,<4"

[pypi-dependencies]
xacro = ">=2.1.1, <3"
pycollada = ">=0.9.2, <0.10"
