[project]
authors = ["Erik Holum <eholum@gmail.com>"]
channels = ["conda-forge"]
name = "roboplan-ros"
platforms = ["linux-64", "linux-aarch64"]
version = "0.1.0"

[tasks]
setup-colcon = { cmd = """
colcon mixin add default https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml || true && \
colcon mixin update default
""" }
build = { cmd = ["colcon", "build", "--build-base", "build_$ROS_DISTRO", "--install-base", "install_$ROS_DISTRO"] }
# TOPP-RA has failures in colcon, so ignoring for now.
# https://github.com/sea-bass/toppra/pull/1
test = { cmd = [
  "colcon",
  "test",
  "--packages-skip",
  "toppra",
  "--build-base",
  "build_$ROS_DISTRO",
  "--install-base",
  "install_$ROS_DISTRO",
]}
test-result = {cmd = [
  "colcon",
  "test-result",
  "--verbose",
  "--test-result-base",
  "build_$ROS_DISTRO",
]}

[dependencies]
# Build deps
colcon-common-extensions = ">=0.3.0,<0.4"
colcon-mixin = ">=0.2.3,<0.3"
cmake = ">=3.30.5,<4"
clangxx = ">=19.1.7,<20"
lld = ">=19.1.2,<20"
ninja = ">=1.13.1,<2"
mold = ">=2.40.2,<3"
sccache = ">=0.10.0,<0.11"

# Common roboplan base deps
gtest = ">=1.17.0,<2"
viser = ">=1.0.11,<2"
tyro = ">=0.9.32,<0.10"
matplotlib = ">=3.10.6,<4"
filelock = ">=3.20.0,<4"
numpy = ">=1.26.4,<3"

# For ROS, should be available across distros
lttng-ust = ">=2.13.9,<3"

# TODO: Usually installable in ROS dep but unavailable in robostack.
# We could fix that: https://robostack.github.io/Contributing.html
pinocchio = ">=3.7.0,<4"
eigen = ">=3.4.0,<4"

[pypi-dependencies]
xacro = ">=2.1.1, <3"
pycollada = ">=0.9.2, <0.10"

[activation.env]
# Ensures the linker knows where to look for conda managed packages
LIBRARY_PATH = "${CONDA_PREFIX}/lib:${LIBRARY_PATH}"
LD_LIBRARY_PATH = "${CONDA_PREFIX}/lib:${LD_LIBRARY_PATH}"
LDFLAGS = "-L${CONDA_PREFIX}/lib -Wl,-rpath,${CONDA_PREFIX}/lib"
CXXFLAGS = "-fuse-ld=mold"

[feature.kilted]
channels = ["https://prefix.dev/robostack-kilted"]

[feature.kilted.dependencies]
ros-kilted-ros-core = "*"
ros-kilted-trajectory-msgs = "*"
ros-kilted-yaml-cpp-vendor = "*"
ros-kilted-tinyxml2-vendor = "*"
ros-kilted-controller-manager = "*"
ros-kilted-ros2-controllers = "*"
ros-kilted-robot-state-publisher = "*"
ros-kilted-geometry-msgs = "*"
ros-kilted-rviz2 = "*"
ros-kilted-interactive-markers = "*"
ros-kilted-tf2-eigen = "*"
ros-kilted-sensor-msgs = "*"
ros-kilted-topic-tools = "*"

[feature.kilted.activation.env]
ROS_DISTRO = "kilted"

[feature.jazzy]
channels = ["https://prefix.dev/robostack-jazzy"]

[feature.jazzy.dependencies]
ros-jazzy-ros-core = "*"
ros-jazzy-trajectory-msgs = "*"
ros-jazzy-yaml-cpp-vendor = "*"
ros-jazzy-tinyxml2-vendor = "*"
ros-jazzy-controller-manager = "*"
ros-jazzy-ros2-controllers = "*"
ros-jazzy-robot-state-publisher = "*"
ros-jazzy-geometry-msgs = "*"
ros-jazzy-rviz2 = "*"
ros-jazzy-interactive-markers = "*"
ros-jazzy-tf2-eigen = "*"
ros-jazzy-sensor-msgs = "*"
ros-jazzy-topic-tools = "*"

[feature.jazzy.activation.env]
ROS_DISTRO = "jazzy"

[feature.humble]
channels = ["https://prefix.dev/robostack-humble"]

[feature.humble.dependencies]
ros-humble-ros-core = "*"
ros-humble-trajectory-msgs = "*"
ros-humble-yaml-cpp-vendor = "*"
ros-humble-tinyxml2-vendor = "*"
ros-humble-controller-manager = "*"
ros-humble-ros2-controllers = "*"
ros-humble-robot-state-publisher = "*"
ros-humble-geometry-msgs = "*"
ros-humble-rviz2 = "*"
ros-humble-interactive-markers = "*"
ros-humble-tf2-eigen = "*"
ros-humble-sensor-msgs = "*"
ros-humble-topic-tools = "*"

[feature.humble.activation.env]
ROS_DISTRO = "humble"

[environments]
kilted = ["kilted"]
jazzy = ["jazzy"]
humble = ["humble"]
